
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    box-sizing: border-box;
   
}
.cabecalho{
    padding: 2% 0 0 15%;

}
 .cabecalho__menu__link{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    
    padding:  0.3px;
    text-decoration:  1px underline white;
}
.cabecalho__menu{
    display: flex;
    gap: 50px;
}
.titulo-destaque{
    color: #22D4FD;
}
.Apresentacao{ 
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 67.56vh;
}
.apresentacao__conteudo {
 width: 615px;
 display: flex;
 flex-direction: column;
 gap: 40px;
}
.apresentacao__conteudo__titulo{
    
    font-family: 'Krona One', sans-serif;
    font-weight: 200px;
    font-size: 24px;
}
.apresentacao__conteudo__texto{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;

}
.apresentacao__links{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family:'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid aqua;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;


}
.apresentacao__links__link:hover{
    background-color: #272727;
    padding: 3%
}
.foto{
    width: 450px ;
    height: 550px ;
    border-radius: 20px  ;
    border: 2px solid aqua;

}
.rodape{
    background-color:aqua ;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family:'Montserrat';
    font-weight: 400;
   text-align: center;
}
